* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --azul-claro: hsl(196, 100%, 47%); 
  --azul-oscuro: hsl(203, 100%, 18%); 
  --blanco: hsl(0, 0%, 100%);
}

header {
  background-color: var(--azul-claro);
  padding: 30px;
  text-align: center;
  font-family: serif;
  font-size: 35px;
  color: var(--blanco);
}

header select {
  margin-top: 15px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  font-family: sans-serif;
}

section {
  display: flex;
}

article {
  flex: 3;
  background-color: var(--azul-oscuro);
  padding: 20px;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  color: var(--blanco);
  text-align: center;
  min-height: 70vh;
}

footer {
  background-color: hsl(196, 100%, 47%);
  padding: 10px;
  font-size: 20px;
  font-style: serif;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

